.main-content {
    width: 100%;
  }
  
  .company-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .company-logo {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .company-details {
    flex: 1;
  }
  
  .contacts {
    margin-top: 10px;
  }
  
  .contact-table {
    width: 100%;
    max-width: 800px; /* Limita la larghezza massima della tabella */
    margin-right: auto; /* Centra la tabella o crea margine a destra */
    border-collapse: collapse;
  }
  
  .contact-table th,
  .contact-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .contact-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  .company-logo img {
    max-width: 200px; /* larghezza massima */
    max-height: 150px; /* altezza massima */
    width: auto; /* Mantiene le proporzioni */
    height: auto; /* Mantiene le proporzioni */
    display: block; /* Assicura che l'immagine non superi il contenitore */
    margin: 0 auto; /* Centra l'immagine */
  }
  