/* Track.css */
.track-page {
    padding: 20px;
  }
  
  .tracking-form {
    display: flex;
    justify-content: center;
    align-items: center; /* Aggiungi questo per mantenere allineato l'input e il bottone verticalmente */
    margin-bottom: 20px;
    gap: 10px;
  }
  .track-code-section {
    display: flex;
    align-items: center; /* Allinea verticalmente */
    gap: 10px; /* Spaziatura tra la textbox e il pulsante */
    margin-top: 20px;
  }
  
  .track-code-section .form-control {
    flex-grow: 1; /* Fa sì che la textbox occupi lo spazio rimanente */
  }
  
  .track-code-section .btn {
    white-space: nowrap; /* Evita che il testo del pulsante vada su più righe */
  }
  
  .tracking-form input {
    margin-right: 10px;
    padding: 5px;
    width: 250px;
    box-sizing: border-box; /* Assicura che il padding non espanda l'elemento oltre i 250px */
  }
  .tracking-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
  
  .item-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permette di andare su più righe */
    gap: 20px; /* Spaziatura tra le card */
  }
  
  .item-card {
    flex: 1 1 calc(33.333% - 20px); /* Ogni card occupa circa 1/3 della riga */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 768px) {
    .item-card {
      flex: 1 1 calc(50% - 20px); /* Su schermi più piccoli, 2 card per riga */
    }
  }
  
  @media (max-width: 576px) {
    .item-card {
      flex: 1 1 100%; /* Su schermi molto piccoli, una card per riga */
    }
  }
  
  
  .item-card h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .item-card p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  
  .item-info {
    margin: 10px 0;
  }
  
  .item-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  .track-filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; /* Spaziatura inferiore per separare le sezioni */
  }
  
  